<!doctype html>
<html lang="en" ng-app="frutosApp">
<head>
  <meta charset="utf-8">
  <title>HACKATHON 2017. Agro y turismo #HackTabsco</title>
  <link rel="stylesheet" href="css/app.css"/>
  <!-- Agregamos angular para que funcione  -->
  <script src="lib/angular.js"></script>
  
  <!-- Importamos los archivos extras que vamos a usar -->
  <script src="js/app.js"></script>  
  <script src="js/service.js"></script>  
  <script src="js/controllers.js"></script>  
</head>
<body ng-controller="TodosLosFrutosCtrl">
	<h1></h1>
	<div class="aplication">
		<!-- Aqui vamos a poner el filtro para buscar los libros -->
		<div class="filtro">
		<span class="buscarFrutos">Buscar:</span> 
		<input ng-model="frutoBuscado" class="filtroFrutas">
	</div> 

	 <table class="tablaLibros">
	 	<tr>
	 		<th>#</th>
	 		<th>Fruto</th>
	 		<th>Vendedor</th>
	 	</tr>
	 	<!-- aqui vamos a repetir td de libros con el filtro libroBuscado -->
	 	<tr ng-repeat= "item in frutos | filter:frutoBuscado">
	 	<td> 
	 	{{$index+1}}
	 	</td>
	 		<td>
	 			{{item.fruto}}
	 		</td>
	 		<td>
	 			{{item.vendedor}}
	 		</td>
	 	</tr>

	</table>
	<div>
		<h2>Agregar un fruto</h2>
		<input ng-model="nuevoFrutoNombre" placeholder="Nombre del fruto">
		<input ng-model="nuevoFrutoVendedor" placeholder="Vendedor">
		<button ng-click="agregarFrutos()">Agregar Fruto </button>
	</div>
	</div>

	
</body>
</html>

